workDir = "/hpc/grid/wip_drm_targetsciences/users/khannam/Renal_Project/Pipeline_GWAS/work"
tmpDir = "/hpc/grid/wip_drm_targetsciences/users/khannam/Renal_Project/Pipeline_GWAS/temp"
process.executor = 'lsf'

params {
    homeDir = "/hpc/grid/wip_drm_targetsciences/users/khannam/Renal_Project/Pipeline_GWAS"
    scripts = "/hpc/grid/wip_drm_targetsciences/users/khannam/Renal_Project/Pipeline_GWAS/scripts"
    results = "/hpc/grid/wip_drm_targetsciences/users/khannam/Renal_Project/Pipeline_GWAS/results"

    // -- GWAS Summary Statistics File Information --
    gwas_sum_path = "/hpc/grid/wip_drm_targetsciences/projects/p053_KidneyBiobank/Data/eGFRcrea.SusztakLab.gwas"

    // Provide headers for the input GWAS file
    gwas_sum_PVAL = "PVAL"
    gwas_sum_POS = "Pos"
    gwas_sum_CHR = "Chr"

    gwas_filter_window = 500000

    // -- Nearest Gene --
    gene_map = "/home/khannm06/renal/gene_pos_hg19_coding_gene_release_87.txt"
    gene_map_CHR = "chrom"
    gene_map_POS = "Pos"
    gene_map_GENE_NAME = "gene_name"
    gene_map_GENE_ID = "gene_id"
}

